.swiper-wrapper{
    padding-top: 190px;
}

@media (max-width: 1279.98px) {
    .swiper-wrapper{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 770.98px) {
    .swiper-wrapper{
        padding-top: 20px;
        padding-bottom: 50px;
    }
}