@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,body{
  font-family: "Comic Neue","sans-serif";
  /* background-image: url("./assets//images//webp//body-bg-img.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Pinky Unicorn";
  src: url("./assets/fonts/Pinky\ Unicorn.ttf") format("truetype");
}