@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: "Pinky Unicorn";
  src: url("./assets/fonts/Pinky\ Unicorn.ttf") format("truetype");
}

html,
body {
  font-family: "Comic Neue", "sans-serif";
  background-image: url("./assets/images/webp/body-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

input::placeholder {
  color: black;
}

.swiper-wrapper {
  padding-top: 190px;
}

@media (max-width: 1279.98px) {
  .swiper-wrapper {
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

@media (max-width: 770.98px) {
  .swiper-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}